:root {
    --blue: #2c7dfa;
    --blue-shade: #3685ff;
    --dark-navy: #1f314f;
    --grey: #7d889e;
    --light-grey: #d5e1ef;
    --white: #fff;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    width: 1440px;
    background-color: #d5e1ef;
}

.qr-card {
    border-radius: 20px;
    width: 320px;
    padding: 16px 16px 40px 16px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
    box-sizing: border-box;
    margin-top: auto;
}

.qr-card-image {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    background: var(--blue);
}

.qr-card-title {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: var(--dark-navy);
    margin: 24px 0 16px 0;
}

.qr-card-content {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--grey);
    margin: 0 16px;
}

@media (max-width: 1440px) {
    .wrapper {
        width: 100%;
    }
}